.form-itens {
    padding: 50px;
}

.inverted-hover {
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
    
}

.inverted-hover:hover {
    background-color: #000;
    color: white;
}

.header-image {
    width: 190px;
    height: 190px;
    margin-top: 10px;
}

.ninja-font {
    font-family: 'Open Sans Condensed', sans-serif;
}

.detalhes-header-container {
    background-color: beige;
    border-radius: 10px;
}

.icon-ninja {
    width: 130px;
    height: 130px;
    position: relative;
    top: 5px;
}

.listagem-header {
    float: left;
    position:relative;
    top: 32px;
}