body {
  background-image: url(sfwallpaper.jpg);
  background-repeat: no-repeat;
  background-position: top;
  font-family: Arial;
}

a {
  text-decoration: none;
}

h1, .h2-sumario {
  padding-top: 25px;
  padding-left: 25px;
}

.menu {
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  margin: 370px auto 10px auto;
  background-color: rgba(127,126,149,0.5);
  width:600px;
  height:70px;
}

.link-menu {
  text-decoration: initial;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.header-section {
  width: 800px;
  height: 90px;
  color: white;
  font-family: Arial;
  font-weight: bold;
  background-color: #424242;
  margin: 40px auto;
}

.sobre {
  margin: -40px auto;
  width: 800px;
  background-color: beige;
}

#img-blanka {
float: left;
}

#ficha {
  margin: -40px auto;
  width: 800px;
  background-color: beige;
  min-height: 600px;
}

#foto {
  width: 40%;
  height:400px;
  float: right;
}
