
@{
    ViewBag.Title = "CadastroCompleto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="beige ninja-font">Cadastro efetuado com sucesso!</h2>
<hr />
<a href="/Login/Index" class="ninja-font"><h4>Voltar para a tela inicial</h4></a>

